body {
    background-color: blanchedalmond;
    text-align: center;
}
h1 {
    color:rgb(127, 52, 167);
    font-size: 200px;
    
}
h2 {
    color: rgb(21, 192, 112);
    font-size: 100px;
}
h3 {
    color:rgb(146, 79, 119);
    font-size: 35px;
}
button {
    width:300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(160, 101, 175);
}
img {
    width: 1000px;
}
#menucompleto{
    list-style: none;
    position: absolute;
    cursor: pointer;
    background-color: rgb(175, 123, 218);
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    font-size: xx-large;
    position: fixed;
    margin-top: 0px;
    top: 0px;
    font-family: 'Times New Roman', Times, serif;
}
.menu{float: left;
padding: 5px;
}
a:hover{
    color:deepskyblue;
    font-size: 150px;
    }
    .menu a:hover{
        font-size: 50px;
    }